body{
    font-family: 'Gulzar', serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
}
.shakib-colour{
    color: tomato;
}
#top-banner{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-description{
    width: 50%;
    padding-left: 5%;
}
.top-des-img{
    width: 50%;
    padding-left: 5%;
    margin-top: 40px;
}
.top-des-img img{
    width: 80%;
}
.hire-me{
    padding: 10px 40px;
    background-image: linear-gradient(rgb(241, 33, 33), rgb(238, 87, 17));
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}
/* first section ends here  */

#middle-banner{
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.mid-banner-pic{
    width: 40%;
    padding: 0 5%;
    margin-top: 40px;
}
.mid-banner-pic img{
    width: 100%;
}
.mid-banner-des{
    width: 50%;
}
.color-orange{
    color: orange;
}
.bot-main{
    display: flex;
    margin-bottom: 50px;
}
.first{
    width: 40%;
    margin: 0 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
}
.second{
    width: 40%;
    margin: 0 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
}
.bottom-heading{
    color: tomato;
}
#bottom-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}